/* class to make the NASA image responsive */

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
