html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Courier New';
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 1rem;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
